.about {
	padding-top: 90px;
	padding-bottom: 225px;

	background: url(../images/about-bg.svg) calc(50vw - 770px) 125px / 757px
		851px no-repeat;

	@media (max-width: $md1) {
		background: url(../images/about-bg.svg) calc(50vw - 710px) 125px / 757px
			851px no-repeat;
	}
	@media (max-width: $md2) {
		background: url(../images/about-bg-tablet.svg) calc(50vw - 475px) 323px /
				232px 290px no-repeat,
			url(../images/about-bg-tablet.svg) calc(50vw + 230px) 1135px / 232px
				290px no-repeat;
		padding-bottom: 175px;
	}
	@media (max-width: $md3) {
		background: url(../images/about-bg-tablet.svg) calc(50vw - 330px) 310px /
				232px 290px no-repeat,
			url(../images/about-bg-tablet.svg) calc(50vw + 90px) 1155px / 232px
				290px no-repeat;
		padding-top: 0px;
	}
	@media (max-width: $md4) {
		background: none;
		margin-top: -50px;
		padding-bottom: 103px;
	}
	&__body {
	}

	&__content {
		padding: 22px;
	}

	&__image {
		@media (max-width: $md2) {
			height: 162px;
		}
		img {
			border-top-left-radius: 18px;
			border-top-right-radius: 18px;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		color: #767676;
	}

	&__name {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 13px;

		@media (max-width: $md3) {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
		}
		@media (max-width: $md4) {
			font-size: 30px;
			line-height: 35px;
		}
	}

	&__item {
		flex: 0 0 31%;
		z-index: 5;
		background: #fff;
		box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
		border-radius: 18px;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		@media (max-width: $md2) {
			flex-direction: column;
			gap: 60px;
			padding: 0 50px;
		}
		@media (max-width: $md3) {
			padding: 0 20px;
		}
		@media (max-width: $md4) {
			gap: 30px;
		}
	}

	&__title {
		font-weight: 400;
		font-size: 50px;
		line-height: 59px;
		text-align: center;
		margin-bottom: 120px;
		span {
			background: linear-gradient(180deg, #b90160 0%, #3d5bf5 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
		@media (max-width: $md2) {
			margin-bottom: 70px;
			font-size: 40px;
			line-height: 47px;
		}
		@media (max-width: $md4) {
			margin-bottom: 54px;
			font-size: 20px;
			line-height: 23px;
		}
	}
}
