.about {
	padding-top: 25px;
	padding-bottom: 225px;
	overflow: hidden;

	@media (max-width: $md2) {
		padding-bottom: 175px;
	}
	@media (max-width: $md3) {
		padding-top: 0px;
	}
	@media (max-width: $md4) {
		margin-top: -50px;
		padding-bottom: 103px;
	}
	&__body {
		position: relative;
	}
	&__item {
		flex: 0 0 30%;
	}
	&__list {
		display: flex;
		justify-content: space-around;
		position: relative;
		@media (max-width: $md2) {
			flex-direction: column;
			gap: 60px;
			padding: 0 60px;
		}
		@media (max-width: $md3) {
			padding: 0 30px;
		}
		@media (max-width: $md4) {
			gap: 30px;
		}
	}

	&__title {
		font-weight: 400;
		font-size: 50px;
		line-height: 59px;
		text-align: center;
		margin-bottom: 120px;
		span {
			background: linear-gradient(180deg, #b90160 0%, #3d5bf5 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
		@media (max-width: $md2) {
			margin-bottom: 70px;
			font-size: 40px;
			line-height: 47px;
		}
		@media (max-width: $md4) {
			margin-bottom: 35px;
			font-size: 20px;
			line-height: 23px;
		}
	}
	&__bg {
		&--desktop {
			position: absolute;
			left: -180px;
			width: 757px;
			height: auto;
			top: 163px;
			@media (max-width: $md2) {
				display: none;
			}
		}
		&--tablet-left {
			display: none;
			@media (max-width: $md2) {
				display: block;
				position: absolute;
				top: 230px;
				left: -70px;
			}
			@media (max-width: $md4) {
				display: none;
			}
		}
		&--tablet-right {
			display: none;
			@media (max-width: $md2) {
				display: block;
				position: absolute;
				bottom: -170px;
				right: -60px;
			}
			@media (max-width: $md4) {
				display: none;
			}
		}
	}
}

.about-item {
	z-index: 5;
	background: #fff;
	box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
	border-radius: 18px;

	padding-bottom: 22px;

	&__image {
		margin-bottom: 23px;
		@media (max-width: $md2) {
			height: 162px;
		}
		img {
			border-top-left-radius: 18px;
			border-top-right-radius: 18px;
		}
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		color: #767676;
		padding: 0 22px;
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		padding: 0 22px;
		margin-bottom: 13px;

		@media (max-width: $md3) {
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
		}
		@media (max-width: $md4) {
			font-size: 30px;
			line-height: 35px;
		}
	}
}
