.footer {
	padding: 215px 0 80px;

	background: url(../images/footer-bg2.svg) calc(50vw + 428px) 63px /233px 264px
			no-repeat,
		url(../images/footer-bg1.svg) calc(50vw - 665px) 120px /110px 125px no-repeat;

	@media (max-width: $md1) {
		background: url(../images/footer-bg1.svg) calc(50vw + 335px) 63px /85.6px 97px
				no-repeat,
			url(../images/footer-bg1.svg) calc(50vw - 500px) 200px /47px 91px no-repeat;
		padding: 155px 0 65px;
	}

	@media (max-width: $md2) {
		background: url(../images/footer-bg1.svg) calc(50vw - 255px) 83px /85.6px 97px
				no-repeat,
			url(../images/footer-bg1.svg) calc(50vw + 340px) 71px /47px 91px no-repeat;
		padding: 115px 0 60px;
	}

	@media (max-width: $md3) {
		background: url(../images/footer-bg1.svg) calc(50vw - 215px) 83px /85.6px 97px
				no-repeat,
			url(../images/footer-bg1.svg) calc(50vw + 165px) 261px /47px 91px no-repeat;

		padding: 60px 0;
	}

	@media (max-width: $md4) {
		background: none;
	}

	&__body {
		display: flex;
		justify-content: space-around;

		@media (max-width: $md3) {
			flex-direction: column;
			align-items: center;
			gap: 15px;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		width: 190px;

		@media (max-width: $md3) {
			flex-direction: column;
			align-items: center;
			text-align: center;
			&--start {
				order: -1;
			}
		}
	}

	&__icon {
		width: 30px;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
	}
	&__title {
		font-weight: 700;
		font-size: 14px;
		margin-bottom: 15px;
	}
}
