.home {
	@media (max-width: $md1) {
	}
	@media (max-width: $md2) {
		padding-top: 60px;
	}
	@media (max-width: $md3) {
		padding-bottom: 206px;
	}
	@media (max-width: $md4) {
		padding-top: 20px;
		padding-bottom: 103px;
	}
	padding-top: 50px;
	padding-bottom: 160px;

	background: url(../images/home-bg1.svg) calc(50vw + 40px) 65px / 533px 686px
			no-repeat,
		url(../images/home-bg3.svg) calc(50vw - 105px) 115px /745px 522px no-repeat,
		url(../images/home-bg2.svg) calc(50vw - 635px) 210px/397px 472.59px
			no-repeat;

	@media (max-width: $md1) {
		background: url(../images/home-bg1.svg) calc(50vw + 115px) 85px /368px 473px
				no-repeat,
			url(../images/home-bg3.svg) calc(50vw + 5px) 115px /525px 368px no-repeat,
			url(../images/home-bg2.svg) calc(50vw - 495px) 175px/397px 472.59px
				no-repeat;
	}

	@media (max-width: $md2) {
		background: url(../images/home-bg1.svg) calc(50vw - 15px) 45px /368px 473px
				no-repeat,
			url(../images/home-bg3.svg) calc(50vw - 150px) 88px /525px 368px no-repeat,
			url(../images/home-bg2.svg) calc(50vw - 443px) 93px/397px 472.59px
				no-repeat;

		// background-position: 314px 40px;
	}

	@media (max-width: $md3) {
		background: none,
			url(../images/home-bg3.svg) calc(50vw - 298px) 108px /525px 368px no-repeat,
			none;
	}

	@media (max-width: $md4) {
		background: none,
			url(../images/home-bg3.svg) calc(50vw - 185px) 70px /365px 256px no-repeat,
			none;
	}

	&__body {
		@media (max-width: $md3) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__button {
	}

	&__content {
		z-index: 3;
		display: flex;
		flex-direction: column;
		position: relative;

		max-width: 630px;

		@media (max-width: $md1) {
			max-width: 550px;
		}
		@media (max-width: $md2) {
			max-width: 320px;
		}
		@media (max-width: $md3) {
			align-items: center;
			max-width: none;
		}
		@media (max-width: $md4) {
			padding: 0 40px;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 189px;
		height: 60px;
		position: relative;
		z-index: 5;

		@media (max-width: $md1) {
			margin-bottom: 157px;
		}
		@media (max-width: $md2) {
			margin-bottom: 61px;
		}
		@media (max-width: $md3) {
			height: fit-content;
			justify-content: center;
		}
		@media (max-width: $md4) {
			margin-bottom: 38px;
		}
	}

	&__nav {
		padding-top: 8px;
		display: flex;
		gap: 15px;
		height: fit-content;
		@media (max-width: $md2) {
			display: none;
		}
	}
	&__logo {
	}
	&__link {
		padding: 0 5px;
		font-weight: 300;
		font-size: 18px;
		text-align: center;
	}

	&__text {
		font-weight: 300;
		font-size: 24px;
		margin-bottom: 10px;
		@media (max-width: $md4) {
			font-size: 20px;
			line-height: 23px;
			text-align: center;
			font-weight: 300;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 50px;
		line-height: 55px;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
		@media (max-width: $md1) {
			font-size: 45px;
			line-height: 52px;
		}
		@media (max-width: $md2) {
			font-size: 40px;
			line-height: 40px;
		}
		@media (max-width: $md3) {
			font-size: 32px;
			line-height: 32px;
			text-align: center;
		}
		@media (max-width: $md4) {
			width: 194px;
			font-size: 25px;
			line-height: 25px;
			text-align: center;
		}
	}
}
.logo {
	display: flex;
	gap: 11px;
	&__title {
		padding-top: 8px;
		font-style: italic;
		font-weight: 900;
		font-size: 36px;
		line-height: 42px;
		height: fit-content;
		@media (max-width: $md4) {
			font-size: 18px;
			line-height: 21px;
		}
	}
	&__image {
		@media (max-width: $md4) {
			width: 60px;
			height: 36px;
		}
	}
}
